.App {
  text-align: center;
}

table {
  width: 80%;
}

table,
td,
tr {
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.formStyle {
  background-color: rgb(245, 215, 176);
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}
